.quizContainer {
    margin-top: 60px;
    padding: 20px;
    padding-left: 90px;
    padding-right: 90px;
    background-color: #f9f9fc;
    border-radius: 10px;
    border: 1px solid #dcdcea;
}

.quizHeading {
    font-size: 46px;
    color: #ffca00;
    font-family: 'Source Serif Pro', serif;
    font-weight: lighter;
    margin-bottom: 70px;
    text-align: center;
}

.questionBlock {
    margin-bottom: 50px;
}

.question {
    font-size: 24px;
    color: #0C0D8FC4;
    font-family: 'Karla', sans-serif;
    margin-bottom: 12px;
}

.option {
    display: block;
    font-size: 20px;
    margin: 6px 0;
    font-family: 'Karla', sans-serif;
    color: #050d42;
}

.correct {
    color: rgb(73, 192, 39);
}

.incorrect {
    color: #e75e5e;
}

.explanation {
    font-size: 18px;
    margin-top: 35px;
    color: #e75e5e;
    font-family: 'Karla', sans-serif;
}

.submitButton {
    background-color: #6165e1;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Karla', sans-serif;
    margin-top: 20px;
}

.resultBox {
    margin-top: 20px;
    font-size: 22px;
    font-weight: lighter;
    color: #6165e1;
}
